---
import { Image } from 'astro:assets'
import AABali from '../assets/images/carouselItems/aa-bali.webp'
import AABattersea from '../assets/images/carouselItems/aa-battersea.webp'
import AACigar from '../assets/images/carouselItems/aa-cigar.webp'
import AAMirror from '../assets/images/carouselItems/aa-mirror.webp'
import AANice from '../assets/images/carouselItems/aa-nice.webp'
import AAField from '../assets/images/carouselItems/aa-outstanding-in-field.webp'
import AARiga from '../assets/images/carouselItems/aa-riga.webp'
import AASoutherdown from '../assets/images/carouselItems/aa-southerndown.webp'
import AAGig from '../assets/images/carouselItems/aa-gig.webp'
import AAChurros from '../assets/images/carouselItems/aa-churros.webp'
import '@glidejs/glide/dist/css/glide.core.min.css'
---

<div class="glide intersect:motion-preset-fade intersect-once">
	<div class="glide__track" data-glide-el="track">
		<ul class="glide__slides">
			<li class="overflow-hidden glide__slide aspect-square rounded-3xl">
				<Image
					loading="eager"
					src={AABali}
					class="object-cover object-center w-full h-full rounded-3xl"
					alt="Alex in Bali"
				/>
			</li>
			<li class="overflow-hidden glide__slide aspect-square rounded-3xl">
				<Image
					src={AABattersea}
					class="object-cover object-top w-full h-full rounded-3xl"
					alt="Alex in Battersea"
				/>
			</li>
			<li class="overflow-hidden glide__slide aspect-square rounded-3xl">
				<Image
					src={AACigar}
					class="object-cover object-center w-full h-full rounded-3xl"
					alt="Alex with a cigar"
				/>
			</li>
			<li class="overflow-hidden glide__slide aspect-square rounded-3xl">
				<Image
					src={AAMirror}
					class="object-cover object-center w-full h-full rounded-3xl"
					alt="Alex in a mirror"
				/>
			</li>
			<li class="overflow-hidden glide__slide aspect-square rounded-3xl">
				<Image
					src={AANice}
					class="object-cover object-center w-full h-full rounded-3xl"
					alt="Alex in Nice"
				/>
			</li>
			<li class="overflow-hidden glide__slide aspect-square rounded-3xl">
				<Image
					src={AAField}
					class="object-cover object-center w-full h-full rounded-3xl"
					alt="Alex outstanding in his field"
				/>
			</li>
			<li class="overflow-hidden glide__slide aspect-square rounded-3xl">
				<Image
					src={AARiga}
					class="object-cover object-center w-full h-full rounded-3xl"
					alt="Alex in Riga"
				/>
			</li>
			<li class="overflow-hidden glide__slide aspect-square rounded-3xl">
				<Image
					src={AASoutherdown}
					class="object-cover object-center w-full h-full rounded-3xl"
					alt="Alex in Southerndown"
				/>
			</li>
			<li class="overflow-hidden glide__slide aspect-square rounded-3xl">
				<Image
					src={AAGig}
					class="object-cover object-center w-full h-full rounded-3xl"
					alt="Alex playing at a festival"
				/>
			</li><li class="overflow-hidden glide__slide aspect-square rounded-3xl">
				<Image
					src={AAChurros}
					class="object-cover object-center w-full h-full rounded-3xl"
					alt="Alex enjoying churros in the rain"
				/>
			</li>
		</ul>
	</div>
</div>

<script>
	// @ts-ignore
	import Glide, { Autoplay } from '@glidejs/glide/dist/glide.modular.esm'

	const glide = new Glide('.glide', {
		type: 'carousel',
		autoplay: 5000,
		hoverpause: true,
		perView: 1,
		animationDuration: 2000,
		gap: 20,
		keyboard: false,
		dragThreshold: false,
		swipeThreshold: false,
		touchAngle: false,
		animationTimingFunc: 'cubic-bezier(0.686, 0, 0.433, 0.993)' // Ease in and out
	})

	glide.mount({ Autoplay }) // Mount with the Autoplay module
</script>
